<h3>Thanks for making an account!</h3>
<p>
    Welcome to the Luna Skin Naturals family, we promise not to send updates and offers without your permition.
</p>
<p>To verify your account please click the button below</p>
<div>
    <a href="http://localhost:3000/verify?TOKEN={{token}}">
        <button class="butn">
            VERIFY ACCOUNT
        </button>
    </a>
</div>